@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
}
body{
 background-image:url("../photos/pozadina1.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 -webkit-background-size:cover;
 -moz-background-size:cover;
 -o-background-size:cover;
}

nav{
	width: 100%;
	height: 10%;
	position: fixed;
	background: #000033;
	opacity: 0.6;
}

.nav-container{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

.nav-container>.logo{
	width: 400px;
	height: 100%;
	float: left;
	padding-top: 10px;
}
.logo>a{
	font-size: 2em;
	color: white;
	text-decoration: none;
}
.menu{
	width: 100%;
	height: 100%;
}
.menu>.menu-content{
	width: 250px;
	height: 73%;
	float: right;
	font-family: sans-serif ,Arial;
	font-size: 20px;
	letter-spacing:3px;
	position: relative;
	margin-top: 20px;
}
span{
	color:white;
}
.menu>.menu-content>a{
	color:#fff;
	text-decoration: none;
	
}
.arrow-up{
	width: 0;
	height: 0;
	position: relative;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #333;
	left: 900px;
	top: 50px;
	display: none;
}
.login-form{
	width: 300px;
	height: auto;
	position: absolute;
	background: black;
	left:770px;
	top:70px;
	border-radius: 3px;
	border-bottom: 5px solid gray;
	display: none;
	
}
.login-form>form{
	margin: 1em 2em;
	width: 250px;
	font-size: 20px;
	font-family: sans-serif,Arial;
	color: gray;
}

input[type="text"],input[type="password"]{
	width: 220px;
	height: 35px;
	border: 0px;
	outline: none;
	box-shadow: inset 0 0 8px #eee;
	border-radius:5px; 
	margin-bottom: 10px;
	margin-top: 5px;
	font-family: sans-serif,Arial;
	font-size: 16px;
}
input[type="submit"] {
	width: 95%;
	height: 35px;
	background: #0b8256;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif,Arial;
	color:white;
	border: 0px;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}
input[type="submit"]:hover {
	background: #0a4b33;
}
#createAccountLink{
	text-decoration: none;
	position: relative;
	top: 20px;
	font-size: 16px;
	color: gray;
}
.fa{
	color:white;
}
.grid-container{
display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding-top: 20px;
  margin-top: 10%;
  width: 100%;
}
.grid-item{
  padding: 50px;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
}
#search{
	margin-top: 6%;
	display: inline-block;
	width: 40%;
	margin-left: 15%;
}
input[name="search-button"] {
	width: 10%;
	height: 30px;
}
img{
	width: 100%;
}
p{
	font-size:20px;
}

.footer-container{
	width: 100%;
	height: 25%;
	background: #000033;
	opacity: 0.6;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows:auto;
	grid-gap:20px;
}

.notice{
	height: 100%;
	grid-column:1;
	margin-left: 10%;
	padding-top: 10px;
}

#notice-paragraph{
	color: white;
	font-size: 16px;
}

.logo-rights{
	grid-column:2/2;
}

.rights{
	color: white;
	font-size: 1em;
	padding: 2%;
}
.footer-logo{
	color: white;
	font-size: 24px;
	margin-left: 22%;
	margin-top: 10%;
	}
.social-links{
	grid-column:3;
}

.social-links>p{
	color: white;
	font-size: 20px;
	padding: 2%;
	margin-left: 7%;
}
.social-links>i{
padding: 2%;
}
.social-links>i:hover{
color: blue;
cursor: pointer;	
}
#message{
	color: red;
	font-weight: bold;
	font-size: 16px;
	margin: 0;
}


@media screen and (max-width:700px) {
.logo{display: none;}
.menu>.menu-content{float: left;}
#search{
	margin-top: 20%;
	width: 55%;
	margin-left: 3%;
}
input[name="search-button"] {width: 30%;}
	.arrow-up{left:150px;}
.login-form{left:70px;width: 200px; opacity: 1;background: black;}

input[type="text"], input[type="password"]{
	width: 100px;
}
input[type="submit"]{
	width: 40%;
}
.login-form>form{
	margin:1em 2em;
	width: 150px;
}
#createAccountLink{
	top:15px;
}
.grid-container{grid-column-gap:5px;grid-row-gap:15px;
padding: 0;
height: 50%;
}
.grid-item{
	margin-left: 15px;
	padding: 0;
}
img{
	width: 80px;
}
.notice{display: none;}
.footer-container{grid-template-columns:auto ;margin-top: -6%;}
.logo-rights{display: none;}
.social-links{grid-column:1;}
}


@media screen and (max-height:400px) {
	.menu>.menu-content{
	margin-top:0%;}
	.arrow-up{left:150px; top:30px;}
.login-form{left:60px;top:50px;}
}